html {
	scroll-behavior: smooth;
}
body {
	position: relative;
}

* {
	 cursor: url(KOOKY.cur), auto !important;
}

@media (min-width:540px) {
	a.navbar-brand{
		width:75%;
	}
	.banner h1 {
		font-size: 2rem;
	}
}
@media (min-width:720px) {
    .carousel {
        width: 70%;
	    margin-left: auto;
	    margin-right: auto;
  }
}
@media (min-width:1290px) {
	a.navbar-brand img{
		width:3%;
	}
}

@media (max-width:540px) {
	.img {
        margin-left: 15%;
        margin-right: 15%;
	}
	.col-md-4 {
		margin: 0 10% 5% 16%;
	}
	.col-md-8 h3 {
		font-size: 1rem;
	}
	.banner h1 {
		font-size: 1.3rem;
	}
    .carousel {
        width: 100%;
	}
	a.navbar-brand{
		width:60%;
	}
}
@media (max-width:720px) {
	.img,
	.col-md-4 {
		margin: 0 10% 5% 16%;
	}
}
@media (max-width: 991px) {
	.col-md-8 h3 {
		font-size: 1.5rem;
	}
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
}
  
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}

.banner {
	padding-top: 70px;
	padding-bottom: 13px;
	background-color: #e9ecef;
	border-radius: .3rem;
}
/* Make the image fully responsive */
.carousel-inner img {
	width: 100%;
	height: 100%;
}
.col-md-8 p,.col-md-12 p {
	font-family: sans-serif;
}
.img, .hktlc, .hkcc, .polyu {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
/* The actual popup */
.img .popuptext, .hktlc .popuptext, .hkcc .popuptext, .polyu .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 110%;
	left: 50%;
	margin-left: -80px;
}
  
/* Popup arrow */
.img .popuptext::after, .hktlc .popuptext::after, .hkcc .popuptext::after, .polyu .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
  
/* Toggle this class - hide and show the popup */
.img .show, .hktlc .show, .hkcc .show, .polyu .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

.text-center {
	text-align: center;
}
.title {
	text-align: center;
	font-family: fantasy;
}

#About_me {
	background: #ffffff;
	height: auto;
	padding-top: 70px;
	padding-bottom: 70px;
}
#Education {
	background: #f0f0f05d;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
#Hobbies {
	background: #ffffff85;
	height: auto;
	padding-top: 70px;
	padding-bottom: 70px;
}
footer {
	display: table;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}